body {
    font-family: "Hammersmith One";
}

.cicleClip {
    width: 300px;
    height: 300px;
    clip-path: circle(50% at 50% 50%);
}

.text {
    font-size: 56px;
    padding-top: 3px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 1000px;
    top: 260px;
    text-align: center;
}

.imagepos {
    position: fixed;
    left: -300px;
}

.textpos {
    position: fixed;
    left: 2220px;
}